$image-size: 28px;

.technical-projects {
  position: relative;
  display: grid;
  grid-template-columns: 1fr minmax(1100px, 1030px) 1fr;
  grid-template-rows: 20vh 1fr 20vh;
  overflow: hidden;
}

.technical-proj-container {
  display: grid;
  grid-template-rows: 290px 7vh max-content;
  grid-template-columns: 375px minmax(70px, 1fr) 1fr;
  border-radius: 3px;

  grid-row: 2 / 3;
  grid-column: 2 / 3;

  .upper-left {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .sub-divider {
    grid-row: 1 / 4;
    grid-column: 2 / 3;
  }

  .upper-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr) min-content;
    grid-template-rows: repeat(auto-fill, 60px);
    margin-top: -10px;
    grid-column: 3 / 4;

    .tech {
      display: flex;
      align-items: center;
      padding: 10.5px 20px;
      font-weight: 500;
      border-radius: 3px;
      margin: 0px 10px;

      .image-container {
        display: flex;
        justify-content: center;

        width: 40px;

        .tech-image {
          width: auto;
          // height: 28px;
          height: $image-size;
          margin-right: 10px;
        }

        .JavaScript-img {
          height: $image-size * 1.2;
        }

        .Canvas-img {
          height: $image-size * 1.2;
        }

        .SCSS-img {
          height: $image-size * 1.5;
          margin-left: -3px;
        }

        .CSS-img {
          height: $image-size * 1.2;
        }

        .GSAP-img {
          height: $image-size * 1.2;
        }

        .Firebase-img {
          height: $image-size * 1.5;
        }

        .D3js-img {
          height: $image-size * 1.2;
        }

        .Git-img {
          height: $image-size * 1.1;
        }

        .SQL-img {
          height: $image-size * 1.1;
        }

        .MongoDB-img {
          height: $image-size * 1.6;
        }
        .TypeScript-img {
          height: $image-size * 1.1;
        }
        .Nodejs-img {
          height: $image-size * 1.4;
        }
        .Express-img {
          height: $image-size * 0.8;
        }
      }

      .tech-name {
        width: max-content;
        font-size: 1.8rem;
      }
    }
  }

  .divider {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    height: 1px;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1.2px;
    margin-bottom: 65px;
  }
  .down-right {
    display: flex;
    height: 270px;
    margin-left: 16px;
    margin-top: 5px;

    .project-holder {
      width: 50%;
      height: 100%;
    }
    .project {
      width: auto;
      height: 135px;
      margin: 0 5px;
      padding: 19px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 3px;

      &:last-child {
        margin-top: 10px;
      }

      .project-title {
        display: flex;
        justify-content: space-between;

        h3 {
          font-weight: 600;
        }
        span {
          font-weight: 700;
        }
      }

      p {
        font-size: 1.7rem;
        font-weight: 300;
      }
    }
  }
}

// Circle bottom
.technical-projects::before {
  display: block;
  position: absolute;
  top: 6%;
  left: 54%;
  width: 100vw;
  height: 100vw;
  content: '';
  clip-path: circle();
  z-index: -1;
  overflow: hidden;
  background-color: #ffb8b8;
}

// Circle top
.technical-projects::after {
  display: block;
  position: absolute;
  top: 4%;
  left: 5vw;
  width: 36vw;
  height: 36vw;
  content: '';
  clip-path: circle();
  z-index: -1;
  background-color: #fcd0a9;
}

// MEDIA QUERIES

@media screen and (max-width: 700px) {
  .technical-projects {
    position: relative;
    display: grid;
    grid-template-columns: 15px repeat(4, 1fr) 15px !important;
    grid-template-rows: 2vh 1fr 2vh;

    .upper-right {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: -10px;
      grid-column: 3 / 4;
    }

    .project-title {
      span {
        display: none;
      }
    }

    .down-right {
      flex-direction: column;
      height: min-content;
      .project-holder {
        width: 100%;
      }

      .holder-right {
        margin: 10px 0px;
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .technical-projects {
    position: relative;
    display: grid;
    grid-template-columns: 50px repeat(12, 1fr) 120px;
    grid-template-rows: 14vh 1fr 5vh;

    .technical-proj-container {
      display: grid;
      grid-template-rows: repeat(5, max-content);
      grid-template-columns: 1fr;
      border-radius: 3px;
      padding: 40px 30px;

      grid-row: 2 / 3;
      grid-column: 2 / 14;

      .upper-left,
      .upper-right,
      .down-left,
      .down-right,
      .divider {
        grid-row: span 1;
        grid-column: span 4;
      }

      .upper-right {
        margin: 20px 0px;
        .tech {
          display: flex;
          align-items: center;
          padding: 10.5px 0px 20px;
          font-weight: 500;
          border-radius: 3px;
        }
      }

      .down-right {
        margin: 20px 0px 0px 0px;
      }

      .divider {
        margin-top: 30px;
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .technical-projects {
    grid-template-columns: 1fr minmax(1300px, 1030px) 1fr;

    .technical-proj-container {
      grid-template-columns: 375px minmax(90px, 100px) 1fr;
    }
  }

  .technical-projects::after {
    transform: translateX(5vw);
  }
}

@media screen and (min-width: 3840px) {
  .technical-projects::after {
    transform: translate(5vw, -5vh);
  }

  .technical-projects {
    transform: scale(1.4);
  }

  // Circle bottom
  .technical-projects::before {
    display: block;
    position: absolute;
    top: 50%;
    left: 54%;
    width: 10vw;
    height: 10vw;
  }

  // Circle top
  .technical-projects::after {
    display: block;
    position: absolute;
    top: 25%;
    left: 25vw;
    width: 20vw;
    height: 20vw;
  }
}
