// $image-size: 28px;
$image-size: 28px;

.technical-projects {
  position: relative;
  display: grid;
  grid-template-columns: clamp(120px, 13vw, 250px) repeat(12, 1fr) clamp(120px, 13vw, 250px);
  // grid-template-columns: clamp(50px, 0px, 20vw) repeat(12, 1fr) clamp(50px, 0px, 20vw);
  grid-template-rows: 14vh 1fr 5vh;
}

.technical-proj-container {
  display: grid;
  grid-template-rows: 290px 7vh max-content;
  grid-template-columns: 375px minmax(80px, 1fr) 64%;
  border-radius: 3px;

  grid-row: 2 / 3;
  grid-column: 2 / 14;

  .upper-left {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .sub-divider {
    grid-row: 1 / 4;
    grid-column: 2 / 3;
  }

  .upper-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr) min-content;
    grid-template-rows: repeat(4, 60px);
    margin-top: -10px;
    grid-column: 3 / 4;

    .tech {
      display: flex;
      align-items: center;
      padding: 10.5px 20px;
      font-weight: 500;
      border-radius: 3px;

      .image-container {
        display: flex;
        justify-content: center;

        width: 40px;

        .tech-image {
          width: auto;
          // height: 28px;
          height: $image-size;
          margin-right: 10px;
        }
        .JavaScript-img {
          height: $image-size * 1.2;
        }

        .Canvas-img {
          height: $image-size * 1.2;
        }

        .SCSS-img {
          height: $image-size * 1.5;
          margin-left: -3px;
        }

        .CSS-img {
          height: $image-size * 1.2;
        }

        .GSAP-img {
          height: $image-size * 1.2;
        }

        .Firebase-img {
          height: $image-size * 1.5;
        }

        .D3js-img {
          height: $image-size * 1.2;
        }

        .MaterialUI-img {
          height: $image-size * 1.2;
        }

        .Git-img {
          height: $image-size * 1.1;
        }

        .RXJS-img {
          height: $image-size * 1.1;
        }

        .SQL-img {
          height: $image-size * 1.1;
        }
      }

      .tech-name {
        width: max-content;
        font-size: 1.8rem;
      }
    }
  }

  .divider {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    height: 1px;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1.2px;
    margin-bottom: 65px;
  }
  .down-right {
    display: flex;
    height: 270px;
    margin-left: 16px;
    margin-top: 5px;

    .project-holder {
      width: 50%;
      height: 100%;
    }
    .holder-right {
      margin-left: 10px;
    }
    .project {
      padding: 19px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 3px;

      &:last-child {
        margin-top: 10px;
      }

      .project-title {
        display: flex;
        justify-content: space-between;

        h3 {
          font-weight: 600;
        }
        span {
          font-weight: 700;
        }
      }

      p {
        font-size: 1.7rem;
        font-weight: 300;
      }
    }
  }
}

// Circle top
.technical-projects::after {
  display: block;
  position: absolute;
  top: 9%;
  left: -4%;
  width: 34vw;
  height: 34vw;
  content: "";
  clip-path: circle();
  z-index: -1;
  background-color: #fcd0a9;
  transform: translate(10vw, 1vw);
}

// Circle bottom
.technical-projects::before {
  display: block;
  position: absolute;
  top: 6%;
  left: 54%;
  width: 100vw;
  height: 100vw;
  content: "";
  clip-path: circle();
  z-index: -1;
  overflow: hidden;
  background-color: #ffb8b8;
}

@media screen and (max-width: 1240px) {
  .technical-projects {
    position: relative;
    display: grid;
    grid-template-columns: 50px repeat(12, 1fr) 120px;
    grid-template-rows: 14vh 1fr 5vh;

    .technical-proj-container {
      display: grid;
      grid-template-rows: repeat(4, max-content);
      grid-template-columns: 1fr;
      border-radius: 3px;
      padding: 40px 30px;

      grid-row: 2 / 3;
      grid-column: 2 / 14;

      .upper-left,
      .upper-right,
      .down-left,
      .down-right {
        grid-row: span 1;
        grid-column: span 4;
      }

      .upper-right {
        margin: 20px 0px;
        .tech {
          display: flex;
          align-items: center;
          padding: 10.5px 0px 20px;
          font-weight: 500;
          border-radius: 3px;
        }
      }

      .down-right {
        margin: 20px 0px 0px 0px;
      }
    }
  }
}

@media screen and (max-width: 820px) {
}
