.hero-page-container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 10.5vw repeat(12, 1fr) 10.5vw;
  grid-template-rows: clamp(43vh, 43vh, 50vh) 50vh 1fr;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.greeting-container {
  z-index: 10;
  grid-row: 2/-1;
  grid-column: 2/14;
  pointer-events: none;
}

.greeting {
  font-size: clamp(22px, 1.3vw, 1.8vw);
  font-weight: 200;
  margin-left: 4px;
  margin-bottom: 0px;
}

.greeting-name {
  font-size: clamp(50px, 4vw, 7vw);
  font-weight: 800;
  margin-bottom: 2px;

  &:after {
    content: '.';
  }
}

.greeting-paragraph {
  font-size: clamp(23px, 1.7vw, 2.1vw);
  font-weight: 300;
  margin-left: 4px;
  line-height: 1.1;
}

.second_paragraph {
  display: block;
}

.btn-container {
  grid-template-columns: 2 / 3;
  margin-top: 1.5rem;
  margin-left: 5px;

  button {
    background-color: transparent;
    font-weight: 400;
    padding: 0.6rem 1.8rem;
    pointer-events: auto;
    color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    font-size: 2.7rem;
    border-radius: 5px;
    cursor: pointer;
    opacity: 1;
    transition: 0.15s;

    &:hover {
      opacity: 0.6;
    }

    &:last-child {
      margin-left: 1rem;
    }
  }
}

@media screen and (max-width: 630px) {
  .second_paragraph {
    display: inline;
  }
}

.canvas {
  z-index: 1;
}
